.main{
  height: 100%;
}

.content{
  flex-wrap: wrap;
}

.container{
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px){
  .content{
    flex-direction: column;
  }
  .main{
    position: absolute;
    top: 70px;
    padding-bottom: 40px;
    height: 100%;
    z-index: -1;
  }
}